{% load static %}

<body>
    <h1>Our Products</h1>

    <!-- Navigation Links -->
    <nav style="margin-bottom: 20px;">
        <a href="{% url 'order_history' %}">Order History</a> |
        <a href="{% url 'cart' %}">Cart</a> |
        <a href="{% url 'checkout' %}">Checkout</a> |
        {% if not request.user.is_authenticated %}
            <a href="{% url 'register' %}">Register</a> |
            <a href="{% url 'login' %}">Login</a>
        {% else %}
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </nav>

    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>

                {% if product.name == "light blue" %}
                    <img src="{% static 'products/blueLight.jpeg' %}" alt="light blue" width="200">
                {% elif product.name == "green light" %}
                    <img src="{% static 'products/greenLed.jpeg' %}" alt="green light" width="200">
                {% elif product.name == "R1Blue T shirt" %}
                    <img src="{% static 'products/TrandyTShirt.jpeg' %}" alt="R1Blue T shirt" width="200">
                {% elif product.name == "Paint StressFree" %}
                    <img src="{% static 'products/PaintsBlue.jpeg' %}" alt="Paint StressFree" width="200">

                {% endif %}

                <p>{{ product.description }}</p>
                <p>Price: ₹{{ product.price }}</p>
                <p>Stock: {{ product.stock }}</p>
                <form method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <button type="submit">Add to Cart</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
